@using WebAppPrueba.Models;

@{
    ViewBag.Title = "Home Page";
    var opiniones = (List<Opiniones>)ViewData["opiniones"]; // sección de opiniones 
    var tramites = (List<Tramites>)ViewData["tramites"]; // sección de tramites, aplica para carrusel y lista
    var informate = (List<Informate>)ViewData["informate"]; // sección de informate
    var temasinteres = (List<TemasInteres>)ViewData["TemasInteres"]; // sección de Temas de interes

}

<div class="home-content-div1">
    <div class="container">
        <div class="col-md-4 home-content-tramites">
            <span class="home-content-tramites-tit">Los trámites más usados <i class="glyphicon glyphicon-plus form-control-feedback"></i></span>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" sty>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    @{
                        var _activo = "active";
                    }
                    @foreach (Tramites item in tramites)
                    {
                        <div class="item @_activo">
                            <div class="card p-2">
                                <a class="card-block stretched-link text-decoration-none" href>
                                    <h4 class="card-title">@item.Descripcion</h4>
                                    <p class="card-text">@item.Entidad</p>
                                    <p class="card-text"><i class="glyphicon glyphicon-check"></i> <small> Disponible en línea</small></p>
                                </a>
                            </div>
                        </div>

                        _activo = "";                        
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8 home-content-tramites-detalle">
            @foreach (Tramites item1 in tramites)
            {

                @:<div class="row">
                    <div class="home-content-tramites-detalle-tit">@item1.Descripcion</div>
                    <div class="home-content-tramites-detalle-ent">@item1.Entidad</div>
                    @:<div class="list-inline">
                        @:<ul class="list-inline">
                            <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="glyphicon glyphicon-ok-circle"></i> Disponible en línea</a></li>
                            @:<li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"<i class="glyphicon glyphicon-usd"></i> Trámite con costo</a></li>
                            <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="@item1.Url">Ver todo el trámite</a></li>
                        @:</ul>
                    @:</div>
                @:</div>

            }
        </div>
    </div>
    <div class="container">
        <p class="opinionmes-tit">Queremos conocer tu opinión</p>
        <div class="col-md-8 home-content-tramites-detalle">
            @foreach (Opiniones item3 in opiniones)
            {
                <div class="row">
                    <div class="home-content-opiniones-detalle-tit-@item3.Id">@item3.Titulo</div>
                    <div class="home-content-opiniones-detalle-tema">@item3.Descripcion</div>
                    <div class="list-inline">
                        <ul class="list-inline">
                            <li class="list-inline-item"><small>@item3.Entidad</small></li>
                            <li class="list-inline-item"><small>@item3.Comentario</small></li>
                        </ul>
                    </div>
                </div>
            }            
        </div>
        <div class="col-md-4 home-content-tramites top">
            <h2 class="cuentanos.tit">CUÉNTANOS</h2>
            <form action="/action_page.php">
                <div class="form-group">
                    <label class="cuentanos.tit" for="comment">¿Cómo podemos mejorar GOV.CO?</label>
                    <label class="cuentanos.subtit" for="comment">Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer.</label>
                    <textarea class="form-control cuentanos.textarea" rows="10" id="comment"></textarea>
                </div>
                <button type="submit" class="btn btn-default cuentanos.button">Enviar mi opinión</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="informate-tit">Infórmate</div>
        <div class="container">
            @foreach (Informate item4 in informate)
            {
                <div class="card img-fluid col-lg-8" style="width:300px">
                    <img class="card-img-top " src="~/Content/img/@item4.Imagen" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <small>@item4.Fecha</small>
                        <p class="card-text">@item4.Descripcion</p>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container">
        <div class="informate-tit">Otros temas de tu interés</div>
        <div class="container">
            @foreach (TemasInteres item5 in temasinteres)
            {
                <div class="card img-fluid col-lg-6">
                    <div class="row">
                        <div class="col-sm-4 text-left">
                            <img class="" src="~/Content/img/@item5.Imagen" alt="sans" width="100px">
                        </div>
                        <div class="col-sm-8">
                            <h5 class="card-title">@item5.Titulo</h5>
                            <p class="card-text">@item5.Descripcion</p>
                            <a href="#" class="btn btn-primary">@item5.Comentario</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />